@charset "UTF-8";

header {
	background-color: #444444;
	color: #fff;
	text-align: center;
}

header a {
	color: #fff;
}

header ul {
	display: inline-block;
	list-style:none;
}

header ul li {
  display: inline-block;
  padding: 26px 10px 20px 10px;
}

.header-title {
	display: inline-block;
}

footer {
	background-color: #444444;
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding: 1px;


}