@charset "UTF-8";

@import url(sanitize.css);


.error {
	color: red;
}

.main-contents {
	width:600px;
	margin: 10px auto;
	border: 1px solid #d1d1d1;
	background-color: #fff;
	padding: 20px;

}

#href {
	text-align: right;
}

input {
	border-bottom: 1px solid #d1d1d1;
	font-size: 1.2em;
	width: 100%;
	padding: 8px;


}

button {
	width: 100%;
	background-color: #444444;
	color: #fff;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .4);
	border-bottom: 7px solid #000;
}

button:hover {
	margin-top: 3px;
	border-bottom: 4px solid #000;

}

.control {
	margin-bottom: 3em;
}