
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HOME</title>
<script src="https://kit.fontawesome.com/850f0b1727.js" crossorigin="anonymous"></script>
<link th:href="@{/css/styleHome.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/styleHeaderFooder.css}" rel="stylesheet" type="text/css">
<script type="text/javascript">

function activateConfirm() {
	if (confirm("本当に復活しますか？")) {
		alert("未着手状態で復活しました");
		return true;
	} else {
		return false;
	}
}

</script>
</head>
<body>
	<header>
		<a th:href="@{/nishioze}"><h2 class="header-title">TODO LIST</h2></a>
		<ul>
              <li><a th:href="@{/nishioze/newtask}">add+</a></li>
        </ul>

	</header>
	<div th:if="${#lists.isEmpty(tasks)}">
		<h2 class="no-deleted-task">削除済みタスクはありません</h2>
	</div>
	<div th:if="!${ #lists.isEmpty(tasks)}">
		<table border="1" class="task-table">
			<tr>
				<th class="task-column">削除済みタスク一覧</th>
				<th class="deadline-column">期限</th>
				<th class="done-button-column">復活</th>
			</tr>
			<th:block th:each="task : ${tasks}">
				<tr th:class="${task.status} == 1 ? 'taskDone' : ( ${ @helper.beforeDeadline(task)} == true ? 'taskYet' : 'taskOver')">
					<td th:text="${task.content}"></td>
					<td th:text="${#dates.format(task.deadline, 'yyyy/MM/dd')}"></td>
					<td>
						<form th:action="@{/nishioze/task/{id}/activate(id=${ task.id })}" th:method="put" onclick="return activateConfirm()">
							<th:block th:switch="${ task.status }">
								<button  id="remand-button" type="submit"><i class="fas fa-undo-alt"></i></button>
							</th:block>
						</form>
					</td>
				</tr>
			</th:block>
		</table>
	</div>
	<footer>
	<p>Copyright(c)nishioze</p>
</footer>
</body>
</html>