<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規投稿</title>
<link th:href="@{/css/styleNewTask.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/styleHeaderFooder.css}" rel="stylesheet" type="text/css">

</head>
<body>
<header>
		<a th:href="@{/nishioze}"><h2 class="header-title">TODO LIST</h2></a>
		<ul>
              <li><a th:href="@{/nishioze/newtask}">add+</a></li>
        </ul>

	</header>
<div class="main-contents">
	<ul>
		<th:block th:each="errorMessage : ${errorMessages}">
	      <li th:text="${errorMessage}"></li>
	    </th:block>
    </ul>
	<form th:method="put" th:action="@{/nishioze/task/{id}/update(id=${formModel.id})}" th:object="${formModel}">
		<div class="control">
			<label for="content">タスク</label>
			<input th:field="*{content}" placeholder="20文字以内で入力してください"/>
			<p class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
		</div>
		<div class="control">
			<label for="content">期限(翌日以降)</label>
			<input type="date" th:field="*{deadline}"/>
			<p class="error" th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}"></p>
		</div>
		<div class="control">
			<button type="submit" >更新</button>
		</div>
	</form>

</div>
<footer>
	<p>Copyright(c)nishioze</p>
</footer>

</body>
</html>